#nav_bar {
  /* border: 1px solid red; */
  height: 70px;
  background-color: black;
}

#nav_bar div img {
  position: absolute;
  /* border: 1px solid red; */
  height: 70px;
  float: left;
}

#nav_bar ul#menu {
  /* border: 1px solid red; */
  list-style-type: none;
  text-align: center;
  width: 720px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}
#nav_bar ul#menu li {
  /* border: 1px solid yellow;  */
  width: 100px;
  height: 90px;
  font-size: 18px;
  display: inline-block;
  margin: 20px 25px 0 25px;
}
#nav_bar ul#menu2{
  float: right;
  margin-top: 20px;
}
#nav_bar ul#menu2 li {
  font-size: 14px;
  display: inline-block;
  margin: 0 20px 0 10px;
}

/* #nav_bar ul#menu li a:hover {
  color: white;
} */
#nav_bar ul#menu2 li a:hover {
  color: white;
}

.menu-trigger {
  float: right;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  /* border: 1px solid red; */
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 23px;
  float: left;
  display: none;
}

.menu-trigger span {
  /* border: 1px solid red; */
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 10px;
}

.menu-trigger span:nth-of-type(3) {
  top: 20px;
}
/* type-01 */
/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.menu-trigger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg) translateZ(0);
  transform: translateY(10px) rotate(-45deg) translateZ(0);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg) translateZ(0);
  transform: translateY(-10px) rotate(45deg) translateZ(0);
}

#sub_nav {
  position: absolute;
  z-index: 1;
  border-top: 1px solid silver;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.822);
  display: none;
}

.sub_sort {
  /* border: 1px solid green; */
  width: 720px;
  height: 199px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.submenu {
   /* border: 1px solid blue;  */
  width: 100px;
  height: 199px;
  font-size: 18px;
  display: inline-block;
  margin: 0px 25px 0 25px;
}

.submenu li {
  /* border: 1px solid red; */
  text-align: center;
  margin: 15px 0 15px 0;
}


@media screen and (max-width: 1250px) {
  .menu-trigger {
    display: block;
  }
  #menu2 {
    display: none;
  }
  #nav_bar ul#menu li {
    display: none;
  }
  #nav_bar #img_center{
    width: 180px;
    height: 70px;
    margin: 0 auto;
  }
}