main{
    flex: 1;
    background-color: white;
} 

#ham_nav {
    height: 100%;
    width: 0;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

main #main_nav {
    /* border: solid 1px red; */
    height: 100%;
}

/* 메인 버튼들 */
main div.main_btns {
    height: 300px;
    text-align: center;
} 

main div.main_btns .btns {
    width: 350px;
    height: 200px;
    margin: 0 30px 10px 30px;
    display: inline-flex;
}

main div.main_btns .btns a {
    z-index: 1;
    border: 2px solid silver;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    color: black;
}

main div.main_btns .btns a h2 {
    margin-top: 80px;
}


.Guidance_phrase {
    color: black;
    font-size: 22px;
    margin: 30px;
}

main div.main_btns .btns a:hover {
    border-color: #d195ff;
}

.sub_menubar {
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
    left: -350px;
    z-index: 1;
    background-color: black;
}

.index_nav {
    width: 100%;
    height: 100%;
    left: 0px;
}

#sub_header {
    width: 100%;
    height: 70px;
    border-bottom: solid 1px silver ; 
}

#sub_header .sub_header_menu {
    width: 120px;
    height: 48px;
    float: left;
    border: 3px solid white;
    border-radius: 70px; 
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    margin: 10px 0 0 35px;
}
#sub_header .sub_header_menu a h3 {
   margin-top: 10px;
   color: white;
}


@media screen and (max-width: 1250px) {
    main div.main_btns {
        height: 730px;
    } 
    main div.main_btns .btns {
        width: 35%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

}


