body {
    /* background-color: rgb(99, 96, 96); */
}

header {
    height: 50px;
    /* background-color: rgb(99, 96, 96); */
}

main {
    flex: 1;
    /* background-color: rgb(99, 96, 96); */
}

footer {
    height: 50px;
    /* background-color: rgb(99, 96, 96); */
}

.btns {
    position: absolute;
    top: 40%;
    left: 50px;
    display: inline-flex;
    flex-direction: column;
}

.button {
    background-color: black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px;
    border: 2px solid white;
}

.button h1 {
    color: white;
}

.images_tle {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 30%;
    left: 40%;
    border: 1px solid white;
    border-radius: 50%;
}



.images_tle img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 1;
    /*box-shadow: 10px 10px rgb(22, 22, 22);*/
    border: 5px solid transparent;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
            background-origin: border-box;
            background-clip: content-box, border-box;
}


.marble {
    width: 500px;
    height: 500px;
    border: 5px solid transparent;
    position: absolute;
    left: -75px;
    top: -75px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
            background-origin: border-box;
            background-clip: content-box, border-box;
}


#marble_ball_1 {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 220px;
    border: 5px solid transparent;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#marble_ball_2 {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 80px;
    left: 385px;
    border: 5px solid transparent;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#marble_ball_3 {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 220px;
    left: 435px;
    border: 5px solid transparent;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#marble_ball_4 {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 370px;
    left: 375px;
    border: 5px solid transparent;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#marble_ball_5 {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 435px;
    left: 220px;
    border: 5px solid transparent;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#marble_ball_6 {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 375px;
    left: 70px;
    border: 5px solid transparent;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#marble_ball_7 {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 220px;
    left: 5px;
    border: 5px solid transparent;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#marble_ball_8 {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 70px;
    left: 65px;
    border: 5px solid transparent;
    background-image: linear-gradient(rgb(99, 96, 96),rgb(99, 96, 96)), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.marble {animation: rotate_image 30s linear infinite;transform-origin: 50% 50%;}

    @keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.marble span {animation: rotate_image 6s linear infinite;transform-origin: 50% 50%;}

    @keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}